
<h1> Sign up for an activity </h1>

<%= form_for @signup do |f| %>
    <%= f.label "Camper:" %>
    <%= f.collection_select :camper_id, @campers, :id, :name %> <br>
    <%# associated model id, associated instance, primary id of singups, :name of camper instances %>
    <%= f.label "Activity: " %>
    <%= f.collection_select :activity_id, @activities, :id, :name %> <br>

    <%= f.submit "Create it!" %>
<% end %>